<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>wikiHow Sample HTML Page</title>
</head>
<body>
<hr />
<strong>Hello World! </strong>
<p>Here are the HTML colors available:
<table width="289" height="260">
  <tr>
    <th xstyle="background-color:white">Color</th>
    <th xstyle="background-color:white">HEX Value</th>
  </tr>
  <tr>
    <td bgcolor="#000000"></td>
    <td>#000000</td>
  </tr>
  <tr>
    <td bgcolor="#FF0000">Patrick Franco Alves</td>
    <td>#FF0000</td>
  </tr>
  <tr>
    <td bgcolor="#00FF00">Ludmilla é legal</td>
    <td>#00FF00</td>
  </tr>
  <tr>
    <td bgcolor="#0000FF">Jéssica é PSYCO sinitro!</td>
   <td>#0000FF</td>
  </tr>
  <tr>
    <td bgcolor="#FFFF00">Dea não concorda</td>
    <td>#FFFF00</td>
  </tr>
  <tr>
    <td bgcolor="#00FFFF">&nbsp;</td>
    <td>#00FFFF</td>
  </tr>
  <tr>
    <td bgcolor="#FF00FF">&nbsp;</td>
    <td>#FF00FF</td>
    </tr>
  <tr>
    <td bgcolor="#C0C0C0">&nbsp;</td>
    <td>#C0C0C0</td>
  </tr>
  <tr>
    <td bgcolor="#FFFFFF">&nbsp;</td>
    <td>#FFFFFF</td>
  </tr>
</table>
</body>
</html>
